body {
  background-color: aliceblue;
  padding-bottom: 2vw;
}
header {
  margin-bottom: 1rem;
}
#ContainerCarousel {
  margin-top: 1rem;
}
.legendas {
  background-color: rgba(0, 0, 0, 0.543);
}
.justify {
  text-align: justify;
}
.gradient-custom {
  background: #000000;
  background: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgb(64, 65, 65));
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(64, 65, 65));
}
#Title {
  text-align: center;
}
footer {
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.834);
  color: #ffffff;
  padding-bottom: 2rem;
}
footer a {
  color: white !important;
}
@media screen and (min-width: 960px) {
  .contato {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 541px) and (max-width: 959px) {
  .contato {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .contato {
    margin-left: 0.5rem;
  }
}
